h3{
    text-align: center;
    background-color: #12ffbb;
    padding: 20px;
    margin: 0;
    color: #000;
    font-size: 40px;

}

#op{
    list-style: none;
    margin-top: 60px;
}

#op li{
    font-size: 30px;
    line-height: 60px;
    background-color: #ffccbb;
    width: 70%;
}

#op li:nth-child(even){
    background-color: #ccbbff;
}